In [4]:
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
a = int(input("Enter a number : "))
for i in range(1,11):
    print(a,"x",i,"=",a*i)

Enter a number :  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
n = int(input("Enter the range : "))
for i in range(n):
    for j in range(i):
        print("*",end="")
    print()

Enter the range :  5

*
**
***
****

In [12]:
l = ["Apple","Mango","Lemon","orange","watermelon"]
for i in range(1):
    print(l)

['Apple', 'Mango', 'Lemon', 'orange', 'watermelon']

In [18]:
d = {"Messi":10,"Ronaldo":7,"Neymar":9}
for i in range(1):
    print(d)

{'Messi': 10, 'Ronaldo': 7, 'Neymar': 9}

In [19]:
t = {2,3,4,5}
print(t)

{2, 3, 4, 5}

In [20]:
s = "Python Programing"
print("First 6 Charecter : ",s[:6])
print("Last 6 Charecter : ",s[-6:])
print("Every 2nd Charecter : ",s[::2])
print("Reversed String : ",s[::-1])

First 6 Charecter :  Python
Last 6 Charecter :  raming
Every 2nd Charecter :  Pto rgaig
Reversed String :  gnimargorP nohtyP

In [24]:
print([i*i for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
l = print([i for i in range(1,51) if i%2==0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [30]:
words = ["Apple","Banana","Cherry","Kiwi","Grapes"]
long_words = print([i for i in words if len(i)>5])

['Banana', 'Cherry', 'Grapes']

In [32]:
def is_prime(n):
    if n<2:
        print("Not Prime")
    for i in range(2,n):
        if n%2==0:
            print("Not Prime")
    print("Prime")
d = int(input("Enter a digit : "))
is_prime(d)

Enter a digit :  5

Prime

In [36]:
def fact(n):
    if n == 0:
        return 1
    return n*fact(n-1)
d = int(input("Enter a digit : "))
fact(d)

Enter a digit :  0

1

In [37]:
def sum_list(n):
    print(sum(n))
d = [1,2,3,4,5]
sum_list(d)

15

In [41]:
class student:
        def __init__(self,name,grade):
            self.name = name
            self.grade = grade
        def get_name(self,name):
            self.name = name
        def get_grade(self,grade):
            self.grade = grade
s1 = student('A',1)
s2 = student('B',2)
s3 = student('C',3)    
print(s1.name,s1.grade)
print(s2.name,s2.grade)
print(s3.name,s3.grade)

A 1
B 2
C 3